**/.DS_Store
**/__pycache__
**/*.egg-info
**/.autoenv*.zsh
.vscode
.cache/bc-trim/**
generated-data/**
**/control-data/.merged/**
**/control-data/grid-extents-generated.fgb
**/control-data/grids.gpkg

!**/.gitkeep
